:focus {
  outline: 0; }

body {
  background-color: #fff;
  min-width: 425px; }

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center; }

.section-header .logo-header {
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  color: #0ab6ec;
  border: 1px solid #0ab6ec;
  padding: 5px;
  border-radius: 8px; }
.section-header .nav-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }
  .section-header .nav-header .each-link:hover {
    background-color: #0ab6ec;
    color: #fff;
    transition: 0.4s; }

.section-hero {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #0ab6ec;
  color: #fff; }
  .section-hero .jumbotron {
    background-color: #0ab6ec;
    border-radius: 0; }
    .section-hero .jumbotron .cta-button {
      margin-top: 75px; }
    .section-hero .jumbotron .github-link {
      border: 1px solid #fff;
      background-color: #fff;
      padding: 10px 15px;
      text-align: center;
      border-radius: 8px;
      color: #0ab6ec;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 2em;
      text-decoration: none; }
    .section-hero .jumbotron .github-link:hover {
      border: 1px solid #fff;
      background-color: #0ab6ec;
      color: #fff;
      transition: 0.4s; }

.section-thumbnail {
  margin-left: 50px;
  margin-right: 50px; }
  .section-thumbnail .thumb-row {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px; }
    .section-thumbnail .thumb-row .thumbnail {
      min-width: 100px;
      min-height: 170px;
      text-align: center; }
    .section-thumbnail .thumb-row .caption {
      margin-top: 55px; }
    .section-thumbnail .thumb-row .cta {
      border: 1px solid #0ab6ec;
      padding: 10px 15px;
      text-align: center;
      border-radius: 8px; }
    .section-thumbnail .thumb-row .cta:hover {
      text-decoration: none;
      background-color: #0ab6ec;
      color: #fff;
      transition: 0.4s; }

.section-footer {
  margin-top: 50px;
  background-color: #403d3d;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff; }
  .section-footer .footer-link-wrapper {
    margin-left: 50px;
    margin-right: 50px; }
    .section-footer .footer-link-wrapper .footer-link {
      list-style-type: none; }
    .section-footer .footer-link-wrapper .subscribe-field {
      margin-right: 10px;
      border-radius: 20px;
      padding: 5px;
      border: 0; }
    .section-footer .footer-link-wrapper .subscribe-field:focus {
      border: 1px solid #0ab6ec; }
    .section-footer .footer-link-wrapper .subscribe-button {
      border-radius: 20px;
      border: 1px solid #0ab6ec;
      padding: 5px 10px;
      margin-right: 10px;
      background: none; }
    .section-footer .footer-link-wrapper .subscribe-button:hover {
      background: #0ab6ec;
      color: #fff;
      transition: 0.4s; }

@media (max-width: 768px) {
  .section-header .logo-header {
    font-size: 1.5em; }
  .section-header .nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px; }

  .section-thumbnail {
    margin-left: 25px;
    margin-right: 25px; }

  .section-footer .subscribe-form {
    margin-top: 20px; } }

/*# sourceMappingURL=main.css.map */
